h1 a, h2 a, header{
    color: #C25100;
    font-family: 'Lobster';
}



p {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 15pt;
}

#post{
    width: 70%;
    position: relative;
    margin-left: 250px;
    padding-top: 50px;
}

.btn{
    position: relative;
    left: 14px;
}

.page-header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}



h2, h3, h4 {
    font-family: Helvetica, Arial;
    font-size: 30pt;
}

h2{
    text-align: center;
}

.date {
    color: #828282;
    padding-left: 15px;
}








